/* src/components/Button/styles.module.css */

.button {
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  .primary {
    background-color: #c70e1d;
    color: white;
  }
  
  .primary:hover {
    background-color: #3769F1;
  }
  
  .secondary {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .secondary:hover {
    background-color: #c0c0c0;
  }
  